.message{
    text-align: center;
    font-size: 30px;
    margin:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.message-font{
    font-family: cursive;
    color:skyblue;
}

.btn{
    background:green;
    color:white;
}