
body {
    background:#E2E4E6;
    padding-top:5em;
}

h2{
    text-align: center;
    margin:1.7em 0 .9em 0;
}

button {
    padding:1em;
    width: 70%;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1em;
    margin-left: 15%;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.form-container{

    background: white;
    padding: 3.5 em;
    width: 500px;
    position: fixed;
    padding-bottom:20px;
    margin-left: -250px;
    left: 50%;
    border-radius: 20px;

}
